---
layout: default
---
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">
  window.filters = {};

  function loadMoviesData() {
    return new Promise((resolve, reject) => {
      const pageContentElement = document.getElementById("page-content");
      const loadingContainerElement = document.getElementById("loading-container");
      const pageContentPreviousDisplay = pageContentElement.style.display
      const loadingContainerPreviousDisplay = loadingContainerElement.style.display
      pageContentElement.style.display = "none";
      loadingContainerElement.style.display = loadingContainerPreviousDisplay;
      fetch("https://dl.dropbox.com/s/7y9nhd8nwzl96or/movies_metadata.json").then(response => response.json()).then(data => {
        pageContentElement.style.display = pageContentPreviousDisplay;
        loadingContainerElement.style.display = "none";
        window.moviesData = data;
        resolve();
      });
    });
  }

  function addListener(inputName, callback) {
    input = document.querySelector(`input[name=${inputName}]`);
    timeoutEvent = null;
    input.addEventListener('change', event => {
      if (timeoutEvent) {
        clearTimeout(timeoutEvent);
      }
      timeoutEvent = setTimeout(_ => {
        if (!event.target.value) {
          delete window.filters[inputName];
        } else {
          if (input.type === "number") {
            window.filters[inputName] = parseFloat(event.target.value);
          } else {
            window.filters[inputName] = event.target.value;
          }
        }
        timeoutEvent = null;
        callback();
      }, 250);
    });
  }
</script>
<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  <div id="loading-container">
    <div class="loader"></div>
    <div>Carregando visualização. Por favor, aguarde...</div>
  </div>
  <div id="page-content">
    {{ content }}
  </div>
</div>
